.add-date{
	background: #fff;
	height: 100%;
	position: absolute;
	top: 0;
	width: 100%;
	z-index: 9999;
}
.date-picker-container{
	padding-top: 20%;
    text-align: center;
}
.input-date-picker{
	width: 50%;
	margin: 0 auto;
	margin-bottom: 5%;
	text-align: center;
}